@charset "UTF-8";
.column{
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  padding : 0.3em;
  color : white;
  background-color : #008B8B;
}

#addbutton {
  background-color: slateblue;
  text-align: center;
  width : 100px;
}


.card {
  list-style: None;
  background-color:#A9CCE3;
  padding: 0.3em;
  margin-top: 5px;
  
}